# Custom my.cnf location: /etc/my.cnf.d/hrapp/my.cnf

[mysqld]
user=mysql

server-id=202
port=3306
bind-address=192.168.2.161

mysqlx-port=33061
mysqlx-bind-address=192.168.2.161

datadir=/data/hrapp/mysqldata
socket=/data/hrapp/temp/hrapp.sock
pid-file=/data/hrapp/temp/hrapp.pid

log-error=/data/hrapp/log/mysqld.log

tmpdir=/tmp

skip_name_resolve=ON

character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci
