[mysqld]
user=mysql

server-id=201
port=3306
bind-address=192.168.2.160

datadir=/data/finapp/mysqldata
socket=/data/finapp/temp/finapp.sock
pid-file=/data/finapp/temp/finapp.pid

log-error=/data/finapp/log/mysqld.log

tmpdir=/tmp

skip_name_resolve=ON

character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci
